* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000000;
    font-family: 'Inter', sans-serif;
}

body {
    overflow-x: hidden;
}


/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 10;
    top: 0;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 10px 150px;
}

.Logo img {
    width: 70%;
}

.itemMenu {
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    padding: 20px 30px;
    margin: 0 10px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 50px;
    transition-duration: 200ms;
}

.itemMenu:hover {
    background-color: #FF833D;
    border-radius: 50px;
    color: white;
}

.itemLogin {
    align-items: center;
    text-decoration: none;
    padding: 15px 70px;
    background-color: #FF833D;
    border-radius: 60px;
    font-size: 20px;
    font-weight: 700;
    transition-duration: 200ms;
}

.itemLogin > a {
    text-decoration: none;
    color: #FFFFFF;
}

.itemLogin:hover {
    background-color: #ffa672 ;
    cursor: pointer;
}



/* Main Section */

main {
    text-align: center;
    padding: 70px 120px;
}

main > h2 {
    font-size: 46px;
    font-weight: bold;
    margin-bottom: 30px;
}

main > p {
    font-size: 22px;
    font-weight: 500;
    color: #767676;
    line-height: 1.7;
}


/* Course Section */

.course {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 0px 90px 150px 90px;
}

.itemCourse {
    text-decoration: none;
    background-color:#f1f1fd;
    width: 22%;
    margin: 10px;
    border-radius: 50px;
    text-align: center;
    transition-duration: 300ms;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);
    min-width: 270px;
}

.itemCourse:hover {
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
    transform: scale(1.07);
}

.itemCourse > img {
    width: 100%;
    border-radius: 50px;
    padding-bottom: 20px;
}

.itemCourse > h3 {
    font-size: 28px;
    font-weight: 700px;
    padding: 0px 30px 10px 30px;
}

.itemCourse > h5 {
    font-size: 20px;
    font-weight: 700px;
    color: #717BAC;
    padding: 0px 30px;
}

.date {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.date > img {
    width: 8%;
}

.date > h6 {
    font-size: 20px;
    font-weight: 500;
    color: #909090;
    padding-left: 15px;
}



/* Footer */

footer {
    display: flex;
    justify-content: space-between;
    padding: 0px 100px 70px;
}

.sectionFooter img {
    width: 40%;
}

.sectionFooter > h3 {
    font-size: 28px;
    font-weight: 700;
    line-height: 2;
}

.sectionFooter > h4{
    font-size: 18px;
    font-weight: 500;
}

.sectionFooter > h5 {
    font-size: 18px;
    font-weight: 500;
    color: #BEBEBE;
}

.sectionFooter > a {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 500;
    color: #545454;
    line-height: 2;
    text-decoration: none;
}

.sectionFooter > a:hover {
    color: #FF833D;
    text-decoration-line: underline;
}

.tim > h4 {
    font-size: 18px;
    font-weight: 500;
    margin: 15px 0px;
    padding: 5px 12px;
    border-left: 7px solid #D9D9D9;
}


/* Tablet */

@media (max-width:992px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        color: #000000;
        font-family: 'Inter', sans-serif;
    }
    
    
    /* Navbar */
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        z-index: 10;
        top: 0;
        background-color: rgba(255, 255, 255, 0.75);
        padding: 20px 70px;
    }
    
    .Logo img {
        width: 60%;
    }
    
    .itemMenu {
        display: none;
    }
    
    .itemLogin {
        align-items: center;
        text-decoration: none;
        padding: 15px 70px;
        background-color: #FF833D;
        border-radius: 60px;
        font-size: 24px;
        font-weight: 700;
    }
    
    .itemLogin > a {
        text-decoration: none;
        color: #FFFFFF;
    }
    
    .itemLogin:hover {
        background-color: #973C09 ;
    } 


    /* Hamburger Button */

    header {
        display: contents;
    }

    header > img {
        width: 5%;
        cursor: pointer;
    }

    .hamburgerBtn {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: #FFF2EC;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 200px;
        display: flex;
        flex-direction: column;
    }

    .hamburgerBtn > img {
        position: absolute;
        top: 80px;
        right: 20px;
        width: 50px;
        height: 50px;
        fill: #000000;
        cursor: pointer;
    }

    .hamburgerBtn > a {
        text-decoration: none;
        text-align: left;
        font-size: 26px;
        font-weight: 700;
        line-height: 30px;
        margin: 35px 50px 20px;
        color: #DB7979;
    }

    .hamburgerBtn > div {
        width: 250px;
        height: 2px;
        margin: 0px 50px;
        background-color: #F8DED3;
    }

    .hamburgerBtn > p {
        font-size: 12px;
        font-weight: 600;
        line-height: 30px;
        margin: 32px 50px 0px; 
        text-align: right;
        color: #E5ADAD;
    }

    .hamburgerBtn > h5{
        font-size: 14px;
        font-weight: 400;
        line-height: 30px;
        margin: 0px 50px;
        text-align: right;
        color: #E5ADAD;
    }


    /* Main Section */

    main {
        text-align: center;
        margin: 0px 0px 70px;
    }

    main > h2 {
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 30px;
    }

    main > p {
        font-size: 16px;
        font-weight: 500;
        color: #767676;
        line-height: 1.7;
    }


    /* Course Section */

    .course {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: -50px;
    }

    .itemCourse {
        text-decoration: none;
        min-width: 180px;
        min-height: 280px;
        background-color:#FFF;
        width: 20%;
        margin: 0px;
        border-radius: 22px;
        text-align: center;
        transition-duration: 300ms;
        box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);
    }

    .itemCourse:hover {
        box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
        transform: scale(1.07);
    }

    .itemCourse img {
        width: 100%;
        border-radius: 22px;
        padding-bottom: 14px;
    }

    .itemCourse > h3 {
        font-size: 18px;
        font-weight: 700px;
        padding: 0px 18px;
        margin-bottom: 8px;
        text-decoration: none;
    }

    .itemCourse > h5 {
        font-size: 10px;
        font-weight: 700px;
        color: #717BAC;
        padding: 0px 16px;
    }

    .date {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .date > img {
        width: 10%;
    }
    
    .date > h6 {
        font-size: 10px;
        font-weight: 500;
        color: #909090;
        margin-top: -14px;
    }

    /* Footer */

    footer {
        display: flex;
        justify-content: space-between;
        padding: 0px 80px 50px;
    }

    .sectionFooter img {
        width: 40%;
    }

    .sectionFooter > h3 {
        font-size: 16px;
        font-weight: 700;
        line-height: 2;
    }

    .sectionFooter > h4{
        font-size: 12px;
        font-weight: 500;
    }

    .sectionFooter > h5 {
        font-size: 12px;
        font-weight: 500;
        color: #BEBEBE;
    }

    .sectionFooter > a {
        display: flex;
        flex-direction: column;
        font-size: 12px;
        font-weight: 500;
        color: #545454;
        line-height: 2;
        text-decoration: none;
    }

    .sectionFooter > a:hover {
        color: #FF833D;
        text-decoration-line: underline;
    }

    .tim > h4 {
        font-size: 12px;
        font-weight: 500;
        margin: 15px 0px;
        padding: 5px 12px;
        border-left: 7px solid #D9D9D9;
    }  
}


@media (max-width:768px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        color: #000000;
        font-family: 'Inter', sans-serif;
    }

    body {
        overflow-x: hidden;
    }

    /* Navbar */

    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: sticky;
        z-index: 10;
        top: 0;
        background-color: rgba(255, 255, 255, 0.75);
        padding: 10px;
    }

    .Logo {
        padding-right: 60px;
    }
    
    .Logo img {
        width: 60%;
    }

    .navItem {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .itemMenu {
        text-decoration: none;
        padding: 20px 30px;
        margin: 0 10px;
        font-size: 18px;
        font-weight: 500;
        border-radius: 50px;
        transition-duration: 200ms;
    }
    
    .itemMenu:hover {
        background-color: #FF833D;
        border-radius: 50px;
        color: white;
    }

    .itemLogin {
        display: none;
    }



    /* Main Section */

    main {
        margin-bottom: 0;
    }

    main > h2 {
        font-size: 42px;
    }

    main > p {
        font-size: 18px;
    }



    /* Course Section */

    .course {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0px;
        gap: 50px;
    }

    .itemCourse {
        min-width: 220px;
    }

    .date > h6 {
        font-size: 16px;
    }


    /* Footer */

    footer {
        display: flex;
        justify-content: space-between;
        padding: 0px 50px 120px;
        margin-top: 100px;
        margin-left: 0;
    }

    .lastChild {
        position: absolute;
        top: 60%;
        right: 140px;
    }

    .sectionFooter img {
        width: 40%;
    }

    .sectionFooter > h3 {
        font-size: 22px;
        font-weight: 700;
        line-height: 2;
    }

    .sectionFooter > h4{
        font-size: 16px;
        font-weight: 500;
    }

    .sectionFooter > h5 {
        font-size: 16px;
        font-weight: 500;
        color: #BEBEBE;
    }

    .sectionFooter > a {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        font-weight: 500;
        color: #545454;
        line-height: 2;
        text-decoration: none;  
    }

    .sectionFooter > a:hover {
        color: #FF833D;
        text-decoration-line: underline;
    }

    .tim > h4 {
        font-size: 16px;
        font-weight: 500;
        margin: 15px 0px;
        padding: 5px 12px;
        border-left: 7px solid #D9D9D9;
    }
}
