* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000000;
    font-family: 'Inter', sans-serif;
}


/* Dekstop */

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 10;
    top: 0;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 20px 150px;
}

.Logo img {
    width: 80%;
}

.itemMenu {
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    padding: 20px 30px;
    margin: 0 10px;
    font-size: 24px;
    font-weight: 500;
    border-radius: 50px;
    transition-duration: 200ms;
}

.itemMenu:hover {
    background-color: #FF833D;
    border-radius: 50px;
    color: white;
}

.itemLogin {
    align-items: center;
    text-decoration: none;
    padding: 15px 70px;
    background-color: #FF833D;
    border-radius: 60px;
    font-size: 24px;
    font-weight: 700;
}

.itemLogin > a {
    text-decoration: none;
    color: #FFFFFF;
}

.itemLogin:hover {
    background-color: #973C09 ;
}   


/* Main Section */

.mainImage {
    display: flex;
    justify-content: right;
    margin-top: 30px;
}

.mainImage img {
    position: absolute;
    z-index: -1;
    width: 50%;
}

.main {
    margin: 100px 150px;
}

.titleCaption > h1 {
    font-size: 90px;
    font-weight: 700;
    padding-bottom: 30px;   
}

.titleCaption > p {
    font-size: 32px;
    font-weight: 500;
    line-height: 1.5;
    color: #424242;
    margin-right: 1000px;
}

.test {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px 100px 30px 100px;
    margin-top: 250px;
    border-radius: 32px;
    background: linear-gradient(269.68deg, #5673DD 27.42%, #341FB8 74.25%);
    filter: drop-shadow(0px 8px 30px rgba(0, 0, 0, 0.25));
}

.test > p {
    font-size: 40px;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 1.2;
    width: 85%;
}

.itemTest {
    background: linear-gradient(180deg, #FF965A 0%, #FF650E 100%);
    padding: 20px 70px;
    border-radius: 60px;
    text-align: left;
    width: 30%;
}

.itemTest > a {
    font-size: 36px;
    font-weight: 700;
    text-decoration: none;
    color: #FFFFFF;
    text-align: start;
}

.test img {
    width: 7%;
    position: absolute;
    top: 13%;
    right:70px;
}



/* Course Section */

.courseTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.courseTitle > p {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 10px;
}

.courseTitle > h3 {
    font-size: 56px;
    font-weight: 700;
}

.course {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 50px 100px;
}

.itemCourse {
    text-decoration: none;
    min-width: 280px;
    background-color:#f1f1fd;
    width: 22%;
    margin: 20px;
    border-radius: 50px;
    text-align: center;
    transition-duration: 300ms;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);
}

.itemCourse:hover {
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
    transform: scale(1.07);
}

.itemCourse img {
    width: 100%;
    border-radius: 50px;
    padding-bottom: 20px;
}

.itemCourse > h3 {
    font-size: 36px;
    font-weight: 700px;
    padding: 0px 30px 10px 30px;
    text-decoration: none;
}

.itemCourse h6 {
    font-size: 24px;
    font-weight: 700px;
    color: #717BAC;
    padding: 0px 30px 20px 30px;
}


/* Information Section */

.informationSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(../img/InformationSection.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    height: 600px;
    background-color: #424242;
}

.informationSection > h3 {
    font-size: 72px;
    font-weight: 700;
    color: #FFFFFF;
}

.informationSection > p {
    font-size: 26px;
    line-height: 1.5;
    font-weight: 400;
    color: #FFFFFF;
    margin-top: 20px;
}

.informationSection > a {
    text-decoration: none;
    font-size: 28px;
    font-weight: bold;
    background-color: #FF650E;
    color: #FFFFFF;
    border-radius: 50px;
    padding: 20px 60px;
    margin-top: 50px;
    transition-duration: 200ms;
}

.informationSection > a:hover {
    transform: scale(1.05);
    background-color: #ff7525;
}


/* Comment Section */

.comentarSection {
    background: linear-gradient(124.24deg, #8E8AD7 29.75%, rgba(142, 138, 215, 0.87) 53.18%, #6663A9 81.45%);
    height: 750px;
    display: flex;
    padding: 0px 40px;
    margin: 0;
    justify-content: space-between;
}

.background {
    width: 30%;
    background-color: #5452C8;
    margin-left: 150px;
}

.comment-img {
    position: absolute;
    z-index: 2;
    margin-left: 30px;
    padding-top: 10px;
}

.comment-img img{
    height: 740px;
}

.comment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    width: 70%;
}

.comment h3 {
    font-size: 80px;
    font-weight: 500px;
    color: #FFFFFF;
    text-align: center;
}

.comment-item p {
    font-size: 28px;
    font-weight: 500;
    margin: 20px 160px;
    padding: 20px;
    text-align: center;
    color: #686868;
    background-color: #FFFFFF;
    border-radius: 50px;
}



/* Alumni Information */

.alumniSection {
    display: flex;
    justify-content: center;
}

.alumniSection-img img {
    position: absolute  ;
    z-index: -1;
    width: 100%;
}

.alumniInformation {
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    margin: 100px 200px;
    border-radius: 50px;
    background: linear-gradient(97.69deg, rgba(255, 133, 64, 0.91) 11.67%, rgba(214, 77, 0, 0.9) 49.18%);
    box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.3);
    width: 1400px;
}

.alumniInformation-title > h1 {
    font-size: 80px;
    font-weight: 700px;
    color: #FFFFFF;
    padding: 50px 70px;

}

.profileInformation {
    background-color: #FFFFFF;
    border-radius: 50px;
    padding: 50px 70px;
    width: 130%;
}

.testimonials {
    display: none;
}

.alumniProfile {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.alumniProfile img {
    width: 13%;
}

.alumniProfile-title {
    padding-left: 30px;
}

.alumniProfile-title h3 {
    font-size: 42px;
    font-weight: 700;
}

.alumniProfile-title p {
    font-size: 26px;
    font-weight: 500;
}

.alumniExperience p {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
}

.vector img {
    width: 10%;
    position: absolute;
    top:32%;
    right:-65px;
    cursor: pointer;
}


/* Footer */

footer {
    display: flex;
    justify-content: space-between;
    padding: 0px 100px 100px;
    margin-top: 800px;
}

.sectionFooter img {
    width: 40%;
}

.sectionFooter > h3 {
    font-size: 32px;
    font-weight: 700;
    line-height: 2;
}

.sectionFooter > h4{
    font-size: 22px;
    font-weight: 500;
}

.sectionFooter > h5 {
    font-size: 22px;
    font-weight: 500;
    color: #BEBEBE;
}

.sectionFooter > a {
    display: flex;
    flex-direction: column;
    font-size: 22px;
    font-weight: 500;
    color: #545454;
    line-height: 2;
    text-decoration: none;
}

.sectionFooter > a:hover {
    color: #FF833D;
    text-decoration-line: underline;
}

.tim > h4 {
    font-size: 22px;
    font-weight: 500;
    margin: 15px 0px;
    padding: 5px 12px;
    border-left: 7px solid #D9D9D9;
}




/* Mobile */

@media (max-width:768px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        color: #000000;
        font-family: 'Inter', sans-serif;
    }

    body {
        overflow-x: hidden;
    }

    /* Navbar */

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        position: sticky;
        z-index: 10;
        top: 0;
        background-color: rgba(255, 255, 255, 0.75);
        padding: 20px;
    }

    .Logo {
        padding-right: 60px;
    }
    
    .Logo img {
        width: 60%;
    }

    .navItem {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .itemMenu {
        text-decoration: none;
        padding: 20px 30px;
        margin: 0 10px;
        font-size: 18px;
        font-weight: 500;
        border-radius: 50px;
        transition-duration: 200ms;
    }
    
    .itemMenu:hover {
        background-color: #FF833D;
        border-radius: 50px;
        color: white;
    }

    .itemLogin {
        align-items: center;
        text-decoration: none;
        padding: 15px 70px;
        background-color: #FF833D;
        border-radius: 60px;
        font-size: 24px;
        font-weight: 700;
    }
    
    .itemLogin > a {
        text-decoration: none;
        color: #FFFFFF;
    }
    
    .itemLogin:hover {
        background-color: #973C09 ;
    }  



    /* Main Section */

    .mainImage {
        display: flex;
        justify-content: center;
    }

    .mainImage img {
        position: absolute;
        z-index: -1;
        width: 70%;
        margin-top: 370px;
    }

    .main {
        margin: 100px;
        text-align: center;
    }

    .titleCaption {
        margin-top: -60px;
    }

    .titleCaption > h1 {
        font-size: 56px;
        font-weight: 700;
        padding-bottom: 30px;
    }

    .titleCaption > p {
        font-size: 23px;
        font-weight: 500;
        line-height: 1.5;
        color: #424242;
        margin-right: 0;
    }
    
    .test {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 600px;
        background: transparent;
        box-shadow: none;
    }

    .test > p {
        display: none;
        font-size: 40px;
        font-weight: 700;
        color: #FFFFFF;
        line-height: 1.2;
        width: 85%;
    }

    .itemTest {
        background: linear-gradient(180deg, #FF965A 0%, #FF650E 100%);
        border-radius: 60px;
        text-align: center;
        width: 90%;
        transform: scale(0.8);
        transition-duration: 200ms;
    }

    .itemTest:hover {
        transform: scale(0.85);
    }
    
    .itemTest a {
        font-size: 34px;
        font-weight: 700;
        text-decoration: none;
        color: #FFFFFF;
    }

    .test img {
        display: none;
    }



    /* Course Section */

    .courseTitle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -50px;
    }
    
    .courseTitle > p {
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 10px;
    }
    
    .courseTitle > h3 {
        font-size: 46px;
        font-weight: 700;
    }
    
    .course {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 30px 50px;
    }
    
    .itemCourse {
        text-decoration: none;
        min-width: 280px;
        background-color:#f1f1fd;
        width: 22%;
        margin: 20px;
        border-radius: 50px;
        text-align: center;
        transition-duration: 300ms;
        box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);
    }
    
    .itemCourse:hover {
        box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
        transform: scale(1.07);
    }
    
    .itemCourse img {
        width: 100%;
        border-radius: 50px;
        padding-bottom: 20px;
    }
    
    .itemCourse > h3 {
        font-size: 28px;
        font-weight: 700px;
        padding: 0px 30px 10px 30px;
        text-decoration: none;
    }
    
    .itemCourse h6 {
        font-size: 20px;
        font-weight: 700px;
        color: #717BAC;
        padding: 0px 30px 20px 30px;
    }



    /* Information Section */

    .informationSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-image: url(../img/InformationSection.png);
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
        height: 230px;
        background-color: #424242;
    }
    
    .informationSection > h3 {
        font-size: 30px;
        font-weight: 700;
        color: #FFFFFF;
    }
    
    .informationSection > p {
        font-size: 12px;
        line-height: 1.5;
        font-weight: 400;
        color: #FFFFFF;
        margin-top: 10px;
    }
    
    .informationSection > a {
        text-decoration: none;
        font-size: 14px;
        font-weight: bold;
        background-color: #FF650E;
        color: #FFFFFF;
        border-radius: 50px;
        padding: 10px 30px;
        margin-top: 22px;
        transition-duration: 200ms;
    }
    
    .informationSection > a:hover {
        transform: scale(1.05);
        background-color: #ff7525;
    }



    /* Comment Section */

    .comentarSection {
        background: linear-gradient(124.24deg, #8E8AD7 29.75%, rgba(142, 138, 215, 0.87) 53.18%, #6663A9 81.45%);
        height: 800px;
        margin: 0;
        display: flex;
        position: relative;
    }

    .background {
        margin: 50px;
        width: 800px;
        background-color: #5452C8;
        border-radius: 50px;
    }

    .comment-img {
        position: absolute;
        z-index: 3;
        margin-top: 410px;
        margin-left: 200px;
    }

    .comment-img img{
        height: 330px;
    }

    .comment {
        position: absolute;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 70px;
        left: 100px;
    }

    .comment h3 {
        font-size: 45px;
        font-weight: 500px;
        color: #FFFFFF;
        text-align: center;
        margin-bottom: 15px;
    }

    .comment-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .comment-item p {
        font-size: 18px;
        font-weight: 500;
        padding: 10px;
        margin: 7px;
        text-align: center;
        color: #686868;
        background-color: #FFFFFF;
        border-radius: 50px;
        width: 100%;
    }

    

    /* Alumni Information */

    .alumniSection {
        display: flex;
        justify-content: center;
        transform: scale(0.5);
        margin-top: -300px;
    }

    .alumniSection-img{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 280px;
    }

    .alumniSection-img img {
        position: absolute  ;
        z-index: -1;
        width: 200%;
    }

    .alumniInformation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 150%;
        padding: 50px;
        background: transparent;
        box-shadow: none;
    }
    
    
    .alumniInformation-title > h1 {
        font-size: 60px;
        font-weight: 700px;
        color: #FFFFFF;
        padding: 40px 100px;
        background: linear-gradient(97.69deg, rgba(255, 133, 64, 0.91) 11.67%, rgba(214, 77, 0, 0.9) 49.18%);;
        border-radius: 50px;
        margin-bottom: 50px;

    }

    .profileInformation {
        display: flex;
        justify-content: flex-start;
        background-color: #FFFFFF;
        border-radius: 50px;
        padding: 50px 100px;
        width: 105%;
    }

    .testimonials {
        display: none;
    }

    .alumniProfile {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
    }

    .alumniProfile img {
        width: 14%;
    }

    .alumniProfile-title {
        padding-left: 40px;
    }

    .alumniProfile-title h3 {
        font-size: 46px;
        font-weight: 700;
    }

    .alumniProfile-title p {
        font-size: 30px;
        font-weight: 500;
    }

    .alumniExperience p {
        font-size: 28px;
        font-weight: 500;
        line-height: 1.5;
    }

    .vector img {
        width: 13%;
        position: absolute;
        top: 50%;
        right: -50px;
        cursor: pointer;
    }



    /* Footer */

    footer {
        display: flex;
        justify-content: space-between;
        padding: 0px 50px 120px;
        margin-top: 700px;
        margin-left: 0;
    }

    .lastChild {
        position: absolute;
        top: 60%;
        right: 140px;
    }

    .sectionFooter img {
        width: 40%;
    }

    .sectionFooter > h3 {
        font-size: 24px;
        font-weight: 700;
        line-height: 2;
    }

    .sectionFooter > h4{
        font-size: 18px;
        font-weight: 500;
    }

    .sectionFooter > h5 {
        font-size: 18px;
        font-weight: 500;
        color: #BEBEBE;
    }

    .sectionFooter > a {
        display: flex;
        flex-direction: column;
        font-size: 18px;
        font-weight: 500;
        color: #545454;
        line-height: 2;
        text-decoration: none;
    }

    .sectionFooter > a:hover {
        color: #FF833D;
        text-decoration-line: underline;
    }

    .tim > h4 {
        font-size: 18px;
        font-weight: 500;
        margin: 15px 0px;
        padding: 5px 12px;
        border-left: 7px solid #D9D9D9;
    }
}
