* {
    margin: 0x;
    padding: 0;
    box-sizing: border-box;
    color: #000000;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #9593FF;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

#video-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    object-fit: cover;
    height: 100%;
}

main {
    background-color: #ffffff ;
    margin-top: 120px;
    padding: 20px 40px 50px;
    border-radius: 60px;
}

img {
    width: 60%;
    margin: 40px 0px -20px 0px;
}

h1 {    
    margin: 20px;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.formlogin form {
    padding: 0px 40px 0px 40px;
    box-sizing: border-box;  
}

form .txt_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 50px 0;
}

.txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 20px;
    border: none;
    background: none;
    outline: none;
}

.txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 20px;
    pointer-events: none;
    transition: .5s;
}

.txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    transition: .5s;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
    top: -10px;
    color: #7548be;

}

.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
    width: 100%;
    background: #7548be;

}

input[type="submit"]{
    width: 100%;
    height: 80px;
    border: 4px solid;
    background: #7548be;
    border-radius: 100px;
    font-size: 30px;
    color: #ffffff;
    font-weight: 500;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover{
    background-color: #9a6ae7;
    transition: .5s;

}

.backhome{
    margin: 30px 0px 30px 0px;
    text-align: center;
}

.backhome a{
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
}

.backhome a:hover{
    align-items: center;
    color: #f58033;
    transition: .5s;
}